
  <div class="proyects">
    <div class="list">
      <ul>
        {{# each proyects}}
        {{#if this.validation}}
        <li>
          <a href="/proyects/{{this.id}}">
            <div class="img">
              <img src="{{this.photo}}" alt="">
            </div>
            <div class="data-proj">
              <h1>{{this.name}}</h1>
              <p>{{this.description}}</p>
              <h5>${{this.money}}<span> / ${{this.aim}}</span></h5>
            </div>
        </a>
        </li>
          {{/if}}
          {{else}}
          <div class="container">
            <div class="bienvenidos">
              <h1 class="bnv">Todavía no hay proyectos</h1><br>
              <p class="bnv">Se el primero en subir tu proyecto social</p><br>
              <a href="/proyects/guide" class="btn" style="color:#fff">Subir Proyecto</a>
            </div>
          </div>
          {{/each}}
      </ul>
    </div>
  </div>
